In [1]:
import arcpy
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [2]:
gas_df = pd.DataFrame.spatial.from_featureclass('airplanes')

In [3]:
gas_df.dropna(axis=1, inplace=True)

In [4]:
gas_df.tail(2)

     OBJECTID levels  ...  code                                              SHAPE
255       256      H  ...     8  {"x": 6.9833331000000385, "y": 45.908332801000...
256       257      K  ...     4  {"x": 6.849999900000057, "y": 45.8458328000000...

[2 rows x 5 columns]

In [5]:
gas_df = gas_df[['SHAPE']]

In [7]:
gas_df.shape

(4690, 2)

In [3]:
import random

my_list = [1, 2, 3, 4]

codes = []
for i in range(len(gas_df)):
    codes.append(random.choice(my_list))

In [4]:
gas_df['scale'] = codes

In [8]:
my_list = [0, 90, 180, 270]

levels = []
for i in range(len(gas_df)):
    levels.append(random.choice(my_list))

In [9]:
gas_df['degree'] = levels

In [10]:
my_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

cities = []
for i in range(len(gas_df)):
    cities.append(random.choice(my_list))

In [11]:
gas_df['code'] = cities

In [12]:
gas_df.head(2)

                                               SHAPE  size  degree code
0  {"x": 9.43243190000004, "y": 46.23475150000007...    16       0    A
1  {"x": 11.111897800000065, "y": 46.313801400000...    18     270    G

In [15]:
gas_df = gas_df[['FID', 'levels', 'volumes', 'code', 'SHAPE']]

In [16]:
gas_df.dtypes

FID           Int64
levels       object
volumes       int64
code          int64
SHAPE      geometry
dtype: object

In [5]:
output_fc = "C://Learning//Arcade//ArcGIS//ArcGIS.gdb//airplane"  # Replace with your desired output feature class path

# Convert the modified DataFrame back to a feature class
gas_df.spatial.to_featureclass(output_fc)

'C:\\Learning\\Arcade\\ArcGIS\\ArcGIS.gdb\\airplane'