In [1]:
import arcpy
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [2]:
gas_df = pd.DataFrame.spatial.from_featureclass('airplanes')

In [3]:
gas_df.dropna(axis=1, inplace=True)

In [4]:
gas_df.tail(2)

     OBJECTID  size  ...  scale                                              SHAPE
255       256    16  ...      1  {"x": 6.9833331000000385, "y": 45.908332801000...
256       257    18  ...      4  {"x": 6.849999900000057, "y": 45.8458328000000...

[2 rows x 6 columns]

In [5]:
gas_df = gas_df[['SHAPE']]

In [7]:
gas_df.shape

(4690, 2)

In [13]:
import random

my_list = [0, 30, 60, 90, 120, 150, 180, 210, 240, 270, 300, 330]

codes = []
for i in range(len(gas_df)):
    codes.append(random.choice(my_list))

In [14]:
gas_df['direction'] = codes

In [8]:
my_list = ["10", "01", "27", "15", "35"]

levels = []
for i in range(len(gas_df)):
    levels.append(random.choice(my_list))

In [9]:
gas_df['symbolset'] = levels

In [11]:


cities = []
for i in range(len(gas_df)):
    cities.append(110000)

In [12]:
gas_df['symbolentity'] = cities

In [15]:
gas_df.head(2)

                                               SHAPE  ...  direction
0  {"x": 9.43243190000004, "y": 46.23475150000007...  ...         90
1  {"x": 11.111897800000065, "y": 46.313801400000...  ...        330

[2 rows x 5 columns]

In [15]:
gas_df = gas_df[['FID', 'levels', 'volumes', 'code', 'SHAPE']]

In [16]:
gas_df.dtypes

FID           Int64
levels       object
volumes       int64
code          int64
SHAPE      geometry
dtype: object

In [16]:
output_fc = "C://Learning//Arcade//ArcGIS//ArcGIS.gdb//enemy"  # Replace with your desired output feature class path

# Convert the modified DataFrame back to a feature class
gas_df.spatial.to_featureclass(output_fc)

'C:\\Learning\\Arcade\\ArcGIS\\ArcGIS.gdb\\enemy'